@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

input,
select,
textarea {
  color: #1f2937;
  background-color: white;
}
